@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: "ScopeOne";
    font-style: normal;
    font-weight: 150;
    font-display: swap;
    src: url("../font/Scope_One/ScopeOne-Regular.ttf") format("woff2");
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/Comfortaa/Comfortaa-VariableFont_wght.ttf")
        format("woff2");
}

@font-face {
    font-family: "M PLUS Rounded 1c";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../font/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf")
        format("woff2");
}

.bg-gradient-blue {
    background-image: linear-gradient(90deg, #020a25, #151e34);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 0.7s ease-in-out forwards;
}
